@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

*{
font-family: 'Google Sans', 'Josefin Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

@layer utilities {
    .clip-path-custom {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
    }
}